<html>
  <head>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <style>
      body {
        font-family: "Inter", sans-serif;
      }

      .error-message {
        color: red;
        margin-top: 10px;
        font-weight: bold;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
  </head>

  <body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
    <div
      class="m-0 bg-white shadow sm:rounded-lg flex justify-center flex-1"
    >
      <div class="lg:w-1/2 xl:w-5/12 sm:p-5">
        <div class=" flex flex-col items-center">
          <h1 class="text-2xl xl:text-3xl font-extrabold">
            Account Settings
          </h1>
          <div class="w-full flex-1 mt-3">
            <div class="mx-auto max-w-xs">
            <p for="profile.displayName">Display Name</p>
            <input [(ngModel)]="profile.displayName" style="margin-bottom: 5px" id="profile.displayName" name="profile.displayName" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-2">
            <p for="profile.email" >Email</p>
            <input [(ngModel)]="profile.email" style="margin-bottom: 5px" id="profile.email" name="profile.email" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-2">
            <p for="profile.birthday">Date of Birth</p>
            <input [(ngModel)]="profile.birthday" style="margin-bottom: 5px" id="profile.birthday" name="profile.birthday" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-2">
            <p for="profile.userId">Username</p>
            <input [(ngModel)]="profile.userId" style="margin-bottom: 5px" id="profile.userId" name="profile.userId" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-2">
            <p for="profile.pass">Password</p>
            <input [(ngModel)]="profile.pass" style="margin-bottom: 5px" id="profile.pass" name="profile.pass" [type]="showPassword ? 'text' : 'password'" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-2">
            <br>
            <input type="checkbox" [(ngModel)]="showPassword">
            &nbsp;
            <label>Show Password</label>
            <br>
            <input type="checkbox" [(ngModel)]="darkMode" (click)="toggleDarkMode()">
            &nbsp;
            <label id="test">Dark Mode</label>

            <button
            routerLink ="/dash/settings"
            class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-3 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
            (click)="updateProfile()"
            >
            <svg
                class="w-6 h-6 -ml-2"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                <circle cx="8.5" cy="7" r="4" />
                <path d="M20 8v6M23 11h-6" />
            </svg>
            <span class="ml-3">
                Save Profile
            </span>
            </button>
            <button
    class="mt-2 tracking-wide font-semibold bg-red-500 text-gray-100 w-full py-3 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
    mat-button (click)="confirmDeletion()"
>
    Delete Account
</button>

              
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
        <div
          class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
          style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');"
        ></div>
      </div>
    </div>
  </body>
</html>
