#noteBox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 200px;
    width: 300px;
    border: 1px solid #ddd;
    background-color: #feffdd;
    box-shadow: 7px 7px 7px rgba(0,0,0,.1);
}