<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 10px;
      padding: 0;
      display: flex;
      height: calc(100vh - 100px);
    }

    .card {
      box-shadow:#adabab  0px 2px 8px 0px;
      flex: 1;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      margin: 0 10px; /* Adjust the margin to set the gap */
      overflow: auto;
    }
  </style>
</head>
<body>
  <div class="card"> <!-- First Card -->
    
<div class="todo-container">
  <h2>To Do</h2>

  <button type="button" title="Add new schedule event" id="addId" class="collapsible" style="width:auto; margin-left: 40px;" (click)="collapseToggle(add)">Add</button>
<div class="content" style="margin-left: 40px;">
    <h3 style="padding-bottom: 10px;">Add New Task</h3>

    <div class="row">
        <label class = "col" for="title1">Title </label>
        <input class = "col" [(ngModel)]="taskInput" id="title1"/>
    </div>
    <br/>
    <div class="row" >
        <label class = "col" for="details1">Due </label>
        <input class = "col" [(ngModel)]="dueDate" type="date">
    </div>
    <br/>
    <button style="border-radius: 10px; background-color: #6677ea; color: white; padding: 10px; border-width: 0px;" (click)="addTask()">Add</button>
</div>

<div *ngIf="tasks.length > 0" style="margin-top: 20px;">
  <h4>Pending Tasks</h4>
    <div *ngFor="let task of tasks">
      <p style="text-decoration: line-through;" *ngIf="task.active == 0">{{task.todo}}</p>
      <div>
        <input *ngIf="task.active == 1" (click)="remove(task)" type="checkbox">
        <p *ngIf="task.active == 1" style="display: inline-block; margin-left: 5px;">Task: {{task.todo}}</p>
      </div>
    </div>
</div>
</div>

  </div>
  <div class="card"> <!-- Second Card -->
    <!-- Your content for the second card goes here -->
    <div class="todo-container">
      <app-schedule2></app-schedule2>
    </div>
    
  </div>
</body>
</html>
