<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 10px;
      padding: 0;
      display: flex;
      height: calc(100vh - 100px);
    }

    .card {
      flex: 1;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      margin: 0 10px; /* Adjust the margin to set the gap */
    }
  </style>
</head>
<body>
  <div class="card"> <!-- First Card -->
    
<div class="todo-container">
  <h1>To-Do List</h1>
  <div class="input-container">
      <input [(ngModel)]="taskInput" type="text" id="taskInput" placeholder="Enter a task...">
      <input [(ngModel)]="dueDate" type="date" id="dueDate">
      <button id="add-button" (click)="addTask()">Add</button>
  </div>
  <br>
  <h3>Tasks</h3>
  <div *ngFor="let task of tasks">
      <p style="text-decoration: line-through;" *ngIf="task.active == 0">{{task.todo}}</p>
      <div>
        <input *ngIf="task.active == 1" (click)="remove(task)" type="checkbox">
        <p *ngIf="task.active == 1" style="display: inline-block; margin-left: 5px;">Task: {{task.todo}}</p>
      </div>
  </div>
</div>

  </div>
  <div class="card"> <!-- Second Card -->
    <!-- Your content for the second card goes here -->
  </div>
</body>
</html>
