<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
<style>
  .playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
  }

  .playlist-item {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 10px;
  }

  .playlist-image, .profile-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .playlist-name, .song-details {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .artists-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .create-playlist-box,
  .currently-playing {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 10px;
  }

  #create-playlist-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 70px;
    line-height: 150px;
    font-weight: bold;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #create-playlist-btn:hover {
    background-color: #45a049;
  }
</style>

<button class="btn btn-success" id="spotify-btn" (click)="connectToSpotify()" *ngIf="isButtonVisible">
  Connect to Spotify
</button>


<!-- <button id="btn btn-success" (click)="playPlaylist()">play playlist</button> -->

<div *ngIf="playlists" class="playlist-grid">
  <div class="playlist-item">
    <img [src]="userProfile.images[1]?.url" alt="User Profile Image" class="profile-image">
    <p>Welcome {{ userProfile.display_name }} </p>
  </div>

  <div class="playlist-item create-playlist-box">
    <div class="playlist-creation">
      <button id="create-playlist-btn" (click)="createPlaylist()"><span class="fas fa-heart"></span></button>
      <p>Create Playlist</p>
    </div>
  </div>

  <div *ngIf="currentlyPlayingData" class="playlist-item currently-playing">
    <img [src]="currentlyPlayingData.album.images[0]?.url" alt="Playlist Image" class="playlist-image">
    <div class="song-details">
      <p>Currently Playing: {{ currentlyPlayingData.name }}</p>
    </div>
    <div class="artists-list">
      <p>Artists: </p>
      <span *ngFor="let artist of currentlyPlayingData.album.artists" class="artist-name"> {{ artist.name }}</span>
    </div>
  </div>

  <div *ngFor="let playlist of playlists.items" class="playlist-item" (click)="playPlaylist(playlist)">
    <!-- <a [href]="playlist.uri"> -->
      <img [src]="playlist.images.length > 0 ? playlist.images[0]?.url : 'assets/music.png'" alt="Playlist Image"
        class="playlist-image">
    <!-- </a> -->
    <span class="playlist-name">{{ playlist.name }}</span>
  </div>
</div>
