<style>
    /* playlist.component.css */
  .playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .playlist-item {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
  }

  .playlist-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .playlist-name {
    font-weight: bold;
  }

  .playlist-creation {
    margin-top: 10px; /* Add margin between the welcome message and the button */
  }

  #create-playlist-btn {
  background-color: #4CAF50; /* Green background color */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 14px 20px; /* Padding inside the button */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* Remove underline from text */
  display: inline-block; /* Display as a block element */
  font-size: 16px; /* Font size */
  margin: 10px; /* Add margin around the button */
  cursor: pointer; /* Cursor style on hover */
  border-radius: 5px; /* Optional: Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#create-playlist-btn:hover {
  background-color: #45a049; /* Darker green color on hover */
}

</style>
<button class="btn btn-success" id="spotify-btn" (click)="connectToSpotify()"
  *ngIf="isButtonVisible">
  Connect to Spotify
</button>

<div *ngIf="userProfile" class="profile-container">
  <img [src]="userProfile.images[1]?.url" alt="User Profile Image" class="profile-image">
  <h3>Welcome {{ userProfile.display_name }} </h3>
  <div class="playlist-creation">
    <button id="create-playlist-btn" (click)="createPlaylist()">Create Playlist</button>
  </div>
</div>
<!-- 
<div *ngIf="userProfile" class="playlist-creation">
  <button id="create-playlist-btn" (click)="createPlaylist()">Create Playlist</button>
</div> -->

<div class="playlist-grid">
  <div *ngFor="let playlist of playlists.items" class="playlist-item">
    <img [src]="playlist.images[1]?.url" alt="Playlist Image" class="playlist-image">
    <span class="playlist-name">{{ playlist.name }}</span>
  </div>
</div>