/* You can add global styles to this file, and also import other style files */
/*body {
    background-color: transparent;
}*/

body.light-mode {
    --text-color: #222;
    --bkg-color: whitesmoke;
    --border-color: #000;
    /*--input-txt-color: black;
    --input-bg-color: white;
    --btn-txt-color: black;
    --btn-bg-color: lightgray;*/
}

body.dark-mode {
    --text-color: #eee;
    --bkg-color: #323232;
    --border-color: #ccc;
    /*--input-txt-color: black;
    --input-bg-color: white;
    --btn-txt-color: black;
    --btn-bg-color: lightgray;*/
}

body {
    background-color: var(--bkg-color);
    color: var(--text-color);
}

/*button {
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
}

input {
    background-color: var(--input-bg-color);
    color: var(--input-txt-color);
}*/