<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="card">
  <div class="calendar">
    <div class="calendar-header">
      <button style="border: 1px solid #ccc; background-color: #fff; border-radius: 5px;" (click)="goToPreviousMonth()"><</button>
      &nbsp;
      <button style="border: 1px solid #ccc; background-color: #fff; border-radius: 5px;" (click)="goToNextMonth()">></button>
      <h2>{{ currentDate.format('MMMM YYYY') }}</h2>
    </div>
    <div class="calendar-grid">
      <!-- Calendar grid generation logic based on this.currentDate -->
      <div
        class="calendar-day"
        *ngFor="let date of generateCalendar()"
        (click)="showTasksForDate(date)"
        [class.selected]="date === selectedDate"
      >
        {{ date.substring(8,10) }}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div *ngIf="tasks.length > 0">
    <!-- Task list based on the selected date -->
    <u>Tasks for the Day</u>
    <ul class="task-list" *ngFor="let task of tasks">
      <li>{{ task.todo }}</li>
    </ul>
  </div>
  <div *ngIf="tasks.length == 0"><p>No tasks for this day.</p></div>

  <br>
  <div *ngIf="schedule.length > 0">
    <!-- Schedule based on the selected date -->
    <u>Schedule for the Day</u>
    <ul class="task-list" *ngFor="let event of schedule">
      <li>{{ event.title }}: {{event.startDisplayStr}} - {{event.endDisplayStr}}</li>
    </ul>
  </div>
  <div *ngIf="schedule.length == 0"><p>No scheduled events for the day.</p></div>
</div>