<h2>Schedule</h2>

<button type="button" title="Add new schedule event" id="addId" class="collapsible" style="width:auto; margin-left: 40px;" (click)="collapseToggle(add)">Add</button>
<div class="content" style="margin-left: 40px;">
    <h3 style="padding-bottom: 10px;">Add New Schedule Event</h3>

    <div class="row">
        <label class = "col" for="title1">Title </label>
        <input class = "col" [(ngModel)]="title" id="title1"/>
    </div>
    <br/>
    <div class="row" >
        <label class = "col" for="details1">Details </label>
        <textarea class = "col" [(ngModel)]="details" id="details1"></textarea>
    </div>
    <br/>
    <div class="row" >
        <label class = "col" for="start-date1">Start Date </label>
        <input class = "col" [(ngModel)]="startDate" id="start-date1" type="datetime-local"/>
    </div>
    <br/>
    <div class="row" >
        <label class = "col" for="end-date1">End Date </label>
        <input class = "col" [(ngModel)]="endDate" id="end-date1" type="datetime-local"/>
    </div>
    <br/>
    <button style="border-radius: 10px; background-color: #6677ea; color: white; padding: 10px; border-width: 0px;" (click)="addEvent()">Add</button>
</div>

<div *ngIf="events.length > 0" style="margin-top: 20px;">
    <ul *ngFor="let event of events">
        <button type="button" id={{event.eventId}} class="collapsible" (click)="onSelect(event)">
            <span class="name">{{event.title}}</span>
        </button>
        <div class="content">
            <div class="row">
                <label class="col" for="title2">Title </label>
                <input class="col" id="title2" [(ngModel)]="event.title" placeholder="title">
            </div>
            <br />
            <div class="row">
                <label class="col" for="details2">Details </label>
                <textarea class="col" id="details2" [(ngModel)]="event.details" placeholder="details"></textarea>
            </div>
            <br />
            <div class="row">
                <label class="col" for="start2">Start Date </label>
                <input class="col" id="start2" [(ngModel)]="event.start" type="datetime-local" placeholder="start">
            </div>
            <br />
            <div class="row">
                <label class="col" for="end2">End Date </label>
                <input class="col" id="end2" [(ngModel)]="event.end" type="datetime-local" placeholder="end">
            </div>
            <br />
            <div class="row">
                <button class="col" (click)="saveEvent()">Save</button>
                <button class="col" (click)="deleteEvent()">Delete</button>
            </div>
            <br />
            <label>Conflicts</label>
            <li *ngFor="let ce of event.conflictEvents" style="margin-left: 30px;">
                {{ce.title}}
            </li>
            
        </div>
    </ul>
</div>
<div style="padding-top: 24px; padding-left: 24px;"*ngIf="events.length == 0"><p>No events scheduled.</p></div>