h1 {
  font-size: 32pt;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  color: black;
}

input {
  right: 140px;
}

textarea {
  right: 140px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 25%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 20px;
  width: 75%;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  color: black;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}