<h1>Schedule</h1>

<h2>Add schedule event</h2>
<div>
    <label for="title1">Title: </label>
    <input [(ngModel)]="title" id="title1"/>
    <br />
    <label for="details1">Details: </label>
    <input [(ngModel)]="details" id="details1"/>
    <br />
    <label for="start-date1">Start Date: </label>
    <input [(ngModel)]="startDate" id="start-date1" type="datetime-local"/>
    <br />
    <label for="end-date1">End Date: </label>
    <input [(ngModel)]="endDate" id="end-date1" type="datetime-local"/>
    <br />
    <button (click)="addEvent()">Add</button>
</div>

<h2>Scheduled events</h2>
<div *ngIf="events.length > 0">
    <ul class="scheduledEvents">
        <li *ngFor="let event of events">
        <button [class.selected]="event === selectedEvent" type="button" (click)="onSelect(event)">
            <span class="name">{{event.title}}</span>
        </button>
        </li>
    </ul>
</div>
<div *ngIf="events.length == 0"><p>No events scheduled.</p></div>

<div *ngIf="selectedEvent">
    <h2>{{selectedEvent.title }}</h2>
    <div>
        <label for="title2">Title: </label>
        <input id="title2" [(ngModel)]="selectedEvent.title" placeholder="title">
        <br />
        <label for="details2">Details: </label>
        <input id="details2" [(ngModel)]="selectedEvent.details" placeholder="details">
        <br />
        <label for="start2">Start Date: </label>
        <input id="start2" [(ngModel)]="selectedEvent.start" type="datetime-local" placeholder="start">
        <br />
        <label for="end2">End Date: </label>
        <input id="end2" [(ngModel)]="selectedEvent.end" type="datetime-local" placeholder="end">
        <br />
        <label>Conflicts: </label>
        <li *ngFor="let event of conflicts">
            {{event.title}}
        </li>
        <button (click)="saveEvent()">Save</button>
        <button (click)="deleteEvent()">Delete</button>
    </div>
</div>



