
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    rel="stylesheet"
/>
<meta
    name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1"
/><style>
  body {
    font-family: "Inter", sans-serif;
    color: #667eea !important;
  }

  .weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
      box-shadow:#adabab  0px 2px 8px 0px;
      flex: 1;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      margin: 0 20px; /* Adjust the margin to set the gap */
      overflow: auto;
      padding: 20px;
      margin-top: 20px;
      
    }

  .weather-card {
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 16px;
    padding: 16px;
    width: 180px;
    text-align: center;
  }

  .city-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .weather-info {
    margin-top: 16px;
  }

  .temperature {
    font-size: 24px;
    font-weight: bold;
  }

  .description {
    font-size: 16px;
    color: #555555;
  }

  .bottom-right {
    position: fixed;
    bottom: 65px;
    right: 40px;
  }

  /* Styles for buttons */
  .flex {
    display: flex;
  }

  .space-x-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .mt-5 {
    margin-top: 1.25rem;
    border-style: none;
  }

  .tracking-wide {
    letter-spacing: 0.05em;
  }

  .font-semibold {
    font-weight: 600;
  }

  .bg-indigo-500 {
    background-color: #667eea;
  }

  .text-gray-100 {
    color: #f4f4f4;
  }

  .w-full {
    width: 100%;
  }

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* .rounded-lg {
    border-radius: 0.375rem;
  } */

  .hover\:bg-indigo-700:hover {
    background-color: #3f51b5;
  }

  .transition-all {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .duration-300 {
    transition-duration: 0.3s;
  }

  .ease-in-out {
    transition-timing-function: ease-in-out;
  }

  /* .focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(118, 169, 250, 0.45);
  }

  .focus\:outline-none:focus {
    outline: none;
  } */

  button {
    border: 0px;
  }
  body {
    font-family: "Inter", sans-serif;
    }

</style>
<div class="card">


<p> Current Location: {{this.city}}</p>

<div class="flex space-x-2">
  <input
    [(ngModel)]="searchbarInput"
    id="searchbarInput"
    name="searchbarInput"
    class="flex-1 px-5 py-2 rounded-lg font-medium border border-gray-300 text-sm focus:outline-none focus:bg-white mt-2"
    placeholder="Enter Input"
    style="padding-left: 10px; width: 80%"
    required
  />
  &nbsp;&nbsp;
  <button style="padding: 5px;" class="px-3 flex-1 mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 py-3 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out" mat-button (click)="search()">
    Search
  </button>
  &nbsp;&nbsp;
  <a class="flex-1" [href]="staticmap()">
    <button class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 px-3 py-3 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out" mat-button (click)="staticmap()">
      Static Map
    </button>
  </a>
</div>


</div>
<div class="card">
<div class="flex space-x-2">
    <button class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-3 rounded-lg rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out" style="border-radius: 0px;" mat-button (click)="coffee()">
      Coffee Shops
    </button>
    &nbsp; &nbsp;&nbsp;&nbsp;
    <button class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-3 rounded-lg rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out" style="border-radius: 0px;" mat-button (click)="libraries()">
      Libraries
    </button>
    
  </div> 
</div> 
<div class="card">
  <div id="map" class = "w-screen">
      <iframe
      class="w-full"
      height="280px"
    frameborder="10" style="border:0; margin-top: 20px; margin-bottom: 20px"
    referrerpolicy="no-referrer-when-downgrade"
    [src]="query"
    allowfullscreen>
  </iframe>
  </div>
  

<div class="weather-container bottom-right">
  <div class="weather-card">
    <div class="city-name">{{ this.city }}</div>
    <div class="weather-info">
      <div class="temperature">{{ this.temperature }}°F</div>
      <div class="description">{{ this.weatherDescription }}</div>
    </div>
  </div>
</div>
</div>
