
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    rel="stylesheet"
/>
<meta
    name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1"
/><style>
  body {
    font-family: "Inter", sans-serif;
    color: #667eea !important;
  }

  .weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .weather-card {
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 16px;
    width: 180px;
    text-align: center;
  }

  .city-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .weather-info {
    margin-top: 16px;
  }

  .temperature {
    font-size: 24px;
    font-weight: bold;
  }

  .description {
    font-size: 16px;
    color: #555555;
  }

  .bottom-right {
    position: fixed;
    bottom: 65px;
    right: 40px;
  }

  /* Styles for buttons */
  .flex {
    display: flex;
  }

  .space-x-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .mt-5 {
    margin-top: 1.25rem;
    border-style: none;
  }

  .tracking-wide {
    letter-spacing: 0.05em;
  }

  .font-semibold {
    font-weight: 600;
  }

  .bg-indigo-500 {
    background-color: #667eea;
  }

  .text-gray-100 {
    color: #f4f4f4;
  }

  .w-full {
    width: 100%;
  }

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* .rounded-lg {
    border-radius: 0.375rem;
  } */

  .hover\:bg-indigo-700:hover {
    background-color: #3f51b5;
  }

  .transition-all {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .duration-300 {
    transition-duration: 0.3s;
  }

  .ease-in-out {
    transition-timing-function: ease-in-out;
  }

  /* .focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(118, 169, 250, 0.45);
  }

  .focus\:outline-none:focus {
    outline: none;
  } */

  body {
    font-family: "Inter", sans-serif;
    }
</style>

<button class="mt-2 tracking-wide font-semibold  text-gray-100 w-full py-4 rounded-lg  transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none" mat-button (click)="coffee()">
  <input [(ngModel)]="searchbarInput" id="searchbarInput" name="searchbarInput" class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5" placeholder="Enter Input" required>
</button>

<div class="flex space-x-2">
 
  <button class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg border-gray-200 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out" mat-button (click)="search()">
    Search
  </button>
  <a class="tracking-wide w-full" [href]="staticmap()"> 
  <button class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg border-gray-200 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out" mat-button (click)="staticmap()">
    Create Static Map
  </button>
  </a>
  
</div> 

<p> Current Location: {{this.city}}</p>

<div class="flex space-x-2">
    <button class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-3 rounded-lg rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out" style="border-radius: 0px;" mat-button (click)="coffee()">
      Coffee Shops
    </button>
    <button class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-3 rounded-lg rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out" style="border-radius: 0px;" mat-button (click)="libraries()">
      Libraries
    </button>
    
  </div> 

  
  <div id="map" class = "w-screen ">
      <iframe
      class="w-full"
      height="500px"
    frameborder="10" style="border:0; margin-top: 20px;"
    referrerpolicy="no-referrer-when-downgrade"
    [src]="query"
    allowfullscreen>
  </iframe>
  </div>
  

<div class="weather-container bottom-right">
  <div class="weather-card">
    <div class="city-name">{{ this.city }}</div>
    <div class="weather-info">
      <div class="temperature">{{ this.temperature }}°F</div>
      <div class="description">{{ this.weatherDescription }}</div>
    </div>
  </div>
</div>
