<html>
  <head>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <style>
      body {
        font-family: "Inter", sans-serif;
      }

      .passList {
        font-size: 14px; /* Adjust the font size as per your preference */
        margin-bottom: 8px; /* Optional: Reduce margin bottom */
        padding-left: 10px; /* Optional: Adjust left padding */
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
  </head>

  <body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
    <div
      class="m-0 bg-white shadow sm:rounded-lg flex justify-center flex-1"
    >
      <div class="lg:w-1/2 xl:w-5/12 sm:p-5">
        <div>
          <img
            src="assets/P.png"
            class="w-20 mx-auto"
          />
        </div>
        <div class=" flex flex-col items-center">
          <h1 class="text-2xl xl:text-3xl font-extrabold">
            Register for Proactiv
          </h1>
          <div class="w-full flex-1">
            <div class="mx-auto max-w-xs">
              <input [(ngModel)]="displayNameInput" id="displayNameInput" name="displayNameInput" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-3" placeholder="Enter display name" required>
              <input [(ngModel)]="emailInput" id="emailInput" name="emailInput" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-3" placeholder="Enter email" required>
              <br>
              <select [(ngModel)]="monthInput" id="monthInput" name="monthInput" class="w-1/3 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-3" (change)="updateBdayInput()" required>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              &nbsp;
              <input [(ngModel)]="dayInput" id="dayInput" name="dayInput" class="w-1/5 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-3" (change)="updateBdayInput()" required/>
              &nbsp;
              <input [(ngModel)]="yearInput" id="yearInput" name="yearInput" class="w-1/3 px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-3" (change)="updateBdayInput()" required/>
              <input [(ngModel)]="secQInput" id="seqQInput" name="seqQInput" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-3" placeholder="Security Question: Enter birth city" required>
              <input [(ngModel)]="usernameInput" id="usernameInput" name="usernameInput" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-3" placeholder="Enter username" required>
              <div class="mt-3">
                <input [(ngModel)]="passInput" id="passInput" name="passInput" [type]="showPassword ? 'text' : 'password'" class="w-full px-8 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" placeholder="Enter password" (input)="strengthChecker()"required>
                <div id="strength-bar"></div>
              </div>
              <div class="d-flex justify-content-start align-items-center">
                <input type="checkbox" [(ngModel)]="showPassword">
                <label class="ml-2 text-sm">Show Password</label>
              </div>
              <small id="message">  </small>
              <div id="passReq">
                <small id="message2">Password must contain:</small>
                <ul class="passList">
                  <small *ngIf="!containsLetters">At least one uppercase or lowecase letter<br></small>

                  <small *ngIf="!containsNumbers">At least one number<br></small>

                  <small *ngIf="!containsSpecialCharacters">At least one special character<br></small>
                  <small *ngIf="!length">Minimum length of 8 characters<br></small>
                </ul>
              </div>
              
              <button
                class="mt-2 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-2 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                [disabled]="(passInput == null) || (usernameInput == null) || (emailInput == null) || (monthInput == null) || (dayInput == null) || (yearInput == null) || (secQInput == null)"
                (click)="signup()"
              >
                <svg
                  class="w-6 h-6 -ml-2"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                  <circle cx="8.5" cy="7" r="4" />
                  <path d="M20 8v6M23 11h-6" />
                </svg>
                <span class="ml-3">
                  Sign Up
                </span>
              </button>
              
            </div>
          </div>
        </div>
        <p class="mt-6 text-gray-600 text-center">
            Already have an account? <a style="text-decoration: underline; color:blue" routerLink="/login" routerLinkActive="active">Log In</a>
            </p>
      </div>
      <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
        <div
          class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
          style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');"
        ></div>
      </div>
    </div>
  </body>
</html>
