
<div class="todo-container">
        <h1>To-Do List</h1>
        <div class="input-container">
            <input [(ngModel)]="taskInput" type="text" id="taskInput" placeholder="Enter a task...">
            <input [(ngModel)]="dueDate" type="date" id="dueDate">
            <button id="add-button" (click)="addTask()">Add</button>
        </div>
        <h1>Tasks</h1>
        <div *ngFor="let task of tasks">
            <p style="text-decoration: line-through;" *ngIf="task.active == 0">{{task.todo}}</p>
            <button style="background-color: red" *ngIf="task.active == 1" (click)="remove(task)" type="checkbox">Task: {{task.todo}}</button>
        </div>
</div>
