
<div class="todo-container">
        <h1>To-Do List</h1>
        <div class="input-container">
            <input [(ngModel)]="taskInput" type="text" id="taskInput" placeholder="Enter a task...">
            <input [(ngModel)]="dueDate" type="date" id="dueDate">
            <button id="add-button" (click)="addTask()">Add</button>
        </div>
        <h1>Tasks</h1>
        <div>
            <li *ngFor="let task of tasks">
                <ul>Task: {{task.todo}}</ul>
            </li>
        </div>
</div>
